absl-py==0.11.0
aiohttp==3.7.4.post0
aiohttp-cors==0.7.0
aioredis==1.3.1
astunparse==1.6.3
async-timeout==3.0.1
attrs==21.2.0
blessings==1.7
cachetools==4.2.1
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
clang==5.0
click==8.0.1
colorama==0.4.4
cryptography==3.4.7
filelock==3.0.12
flatbuffers==1.12
gast==0.4.0
google-api-core==1.31.1
google-auth==1.27.0
google-auth-oauthlib==0.4.2
google-pasta==0.2.0
googleapis-common-protos==1.53.0
gpustat==0.6.0
grpcio==1.41.1
h5py==3.1.0
hiredis==2.0.0
idna==2.10
joblib==1.0.1
jsonschema==3.2.0
keras==2.6.0
Keras-Preprocessing==1.1.2
lib==3.0.0
Markdown==3.3.4
mpc==0.0.4
msgpack==1.0.2
multidict==5.1.0
numpy==1.19.5
nvidia-ml-py3==7.352.0
oauthlib==3.1.0
opencensus==0.7.13
opencensus-context==0.1.2
opt-einsum==3.3.0
packaging==21.0
pandas==1.2.3
phe==1.4.0
prometheus-client==0.11.0
protobuf==3.15.3
psutil==5.8.0
py-spy==0.3.7
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pycryptodome==3.10.1
pydantic==1.8.2
pyparsing==2.4.7
pyrsistent==0.18.0
python-dateutil==2.8.1
pytz==2021.1
PyYAML==5.4.1
ray==1.5.1
redis==3.5.3
requests==2.25.1
requests-oauthlib==1.3.0
rsa==4.7.2
scikit-learn==0.24.1
scipy==1.6.1
six==1.15.0
sklearn==0.0
tensorboard==2.7.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.6.0
tensorflow-estimator==2.7.0
termcolor==1.1.0
threadpoolctl==2.1.0
torch==1.8.0
typing-extensions==3.7.4.3
urllib3==1.26.7
Werkzeug==1.0.1
wrapt==1.12.1
yarl==1.6.3
